@font-face {
  font-family: "iconfont"; /* Project id 3085222 */
  src: url('iconfont.woff2?t=1641439932958') format('woff2'),
       url('iconfont.woff?t=1641439932958') format('woff'),
       url('iconfont.ttf?t=1641439932958') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rs-delete-bolder:before {
  content: "\e60d";
}

.icon-rs-abort-solid-bolder:before {
  content: "\e67d";
}

.icon-rs-abort-bold:before {
  content: "\e75e";
}

.icon-rs-add-bold:before {
  content: "\e639";
}

.icon-rs-cut-bold:before {
  content: "\e665";
}

.icon-rs-cut:before {
  content: "\e60c";
}

.icon-rs-cut-bolder:before {
  content: "\e621";
}

.icon-rs-add-bolder:before {
  content: "\e620";
}

.icon-rs-fail:before {
  content: "\e629";
}

.icon-rs-clock:before {
  content: "\e74f";
}

.icon-rs-tips:before {
  content: "\e605";
}

.icon-rs-success:before {
  content: "\e602";
}

.icon-rs-restart:before {
  content: "\e64f";
}

.icon-rs-square:before {
  content: "\ea8b";
}

.icon-rs-square-bolder:before {
  content: "\e651";
}

.icon-rs-trigon:before {
  content: "\e624";
}

.icon-rs-trigon-bolder:before {
  content: "\e64e";
}

.icon-rs-restart-bolder:before {
  content: "\e634";
}

.icon-rs-success-bolder:before {
  content: "\e60b";
}

.icon-rs-fail-bolder:before {
  content: "\e610";
}

.icon-rs-about-bolder:before {
  content: "\e631";
}

.icon-rs-clock-bolder:before {
  content: "\e635";
}

.icon-rs-tips-bolder:before {
  content: "\e638";
}

.icon-rs-reflesh-bolder:before {
  content: "\e608";
}

.icon-rs-loading-bing-top-right:before {
  content: "\e6a3";
}

.icon-rs-loading-big-top-left:before {
  content: "\e63d";
}

.icon-rs-loading-small-top-left:before {
  content: "\e601";
}

.icon-rs-loading-small-top-right:before {
  content: "\e60a";
}

.icon-rs-minus-bolder:before {
  content: "\e615";
}

.icon-rs-arrows-up:before {
  content: "\eb0b";
}

.icon-rs-arrows-down:before {
  content: "\eb0c";
}

.icon-rs-false-bolder:before {
  content: "\e600";
}

.icon-rs-true-bolder:before {
  content: "\e64a";
}

.icon-rs-true:before {
  content: "\e8e5";
}

.icon-rs-false:before {
  content: "\e8e7";
}

.icon-rs-arrows-left:before {
  content: "\eb09";
}

.icon-rs-plus-bolder:before {
  content: "\e721";
}

.icon-rs-plus:before {
  content: "\e603";
}

.icon-rs-minus:before {
  content: "\e609";
}

.icon-rs-round:before {
  content: "\e619";
}

.icon-rs-coffee-cup:before {
  content: "\e675";
}

.icon-rs-arrows-right:before {
  content: "\eb0a";
}

.icon-rs-add-solid:before {
  content: "\e617";
}

.icon-rs-warning-trigon-solid:before {
  content: "\e6a1";
}

.icon-rs-sunrise:before {
  content: "\e60e";
}

.icon-rs-backlog:before {
  content: "\e636";
}

.icon-rs-success-solid:before {
  content: "\e62a";
}

.icon-rs-clock-solid:before {
  content: "\e74e";
}

.icon-rs-fail-solid:before {
  content: "\e68f";
}

.icon-rs-aborted-solid:before {
  content: "\e8c5";
}

.icon-rs-start-center:before {
  content: "\e622";
}

.icon-rs-hide:before {
  content: "\e712";
}

.icon-rs-preview-disabled-right:before {
  content: "\e614";
}

.icon-rs-preview-disabled-left:before {
  content: "\e616";
}

.icon-rs-show:before {
  content: "\e607";
}

.icon-rs-error-log:before {
  content: "\e659";
}

.icon-rs-preview:before {
  content: "\e613";
}

.icon-rs-edit-pencil-circle:before {
  content: "\e61f";
}

.icon-rs-tips-solid:before {
  content: "\e643";
}

.icon-rs-edit-pencil-solid:before {
  content: "\e642";
}

.icon-rs-search:before {
  content: "\e63b";
}

.icon-rs-lightning:before {
  content: "\e648";
}

.icon-rs-card-panel:before {
  content: "\e71f";
}

.icon-rs-sunny:before {
  content: "\e666";
}

.icon-rs-cloudy:before {
  content: "\e6c2";
}

.icon-rs-loading-static:before {
  content: "\e641";
}

.icon-rs-search-long:before {
  content: "\e606";
}

.icon-rs-edit-pencil:before {
  content: "\e8cf";
}

.icon-rs-start-solid:before {
  content: "\e657";
}

.icon-rs-start-bolder:before {
  content: "\e6c4";
}

.icon-rs-add:before {
  content: "\e67b";
}

.icon-rs-edit-circle:before {
  content: "\e654";
}

.icon-rs-delete:before {
  content: "\e604";
}

.icon-rs-disabled-right:before {
  content: "\e650";
}

.icon-rs-disabled-left:before {
  content: "\e7e4";
}

.icon-rs-aborted:before {
  content: "\e637";
}

.icon-rs-abort-solid:before {
  content: "\e640";
}

.icon-rs-warning-trigon:before {
  content: "\e7e3";
}

.icon-rs-abort:before {
  content: "\e63c";
}

